name: Build Eris APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Accept Licenses
      run: yes | sdkmanager --licenses

    - name: Install SDK Packages
      run: |
        sdkmanager "platform-tools"
        sdkmanager "platforms;android-28"
        sdkmanager "build-tools;28.0.3"

    - name: Give permission
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug --no-daemon

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Eris-APK
        path: app/build/outputs/apk/debug/app-debug.apk
